:root {
    --color-logo: #ff5600;
    --color-border: #d7d7d7;
    --color-title: rgba(0,0,0,0.8);
    --color-heading: #222222;
    --color-excerpt: #717171;
    --color-background-featured: #f4ddd5;
}
