<div class="atbs-block atbs-post-Related atbs-posts-list">
    <div class="post-Related__inner">
        <div class=" block-heading text-center clearfix">
            <h4 class="block-heading__title">Related Articles</h4>
        </div>
        <div class="row row--space-between grid-gutter-40 posts-list">
            {% for post in site.posts reversed limit: 2 %}
            <div class="col-sm-6 list-item">
                <article class="post post--vertical small-post--vertical height-md">
                    <div class="post__thumb">
                        <div class="background-img" style="background-image: url('/stanford-blm/{{ post.image }}');">
                        </div>
                        <a class="link-overlay" href="/stanford-blm/{{ post.url }}"></a>
                    </div>
                    <div class="post__text">
                        <a class="post__cat">BLM</a>
                        <h3 class="post__title typescale-3">
                            <a href="/stanford-blm/{{ post.url }}">{{ post.title }}</a>
                        </h3>
                    </div>
                </article>
            </div>
            {% endfor %}
            <!-- -->
        </div>
    </div>
</div>