<div class="navigation-author__wrap">
    <div class="posts-navigation single-entry-section clearfix">
        <div class="posts-navigation__prev">
            <article class="post post--horizontal">
                <div class="post__text text-left">
                    <div class="post__readmore clearfix">
                        <a href="./single-2.html" class="button__readmore"><i class="mdicon mdicon-navigate_before"></i>
                            Previous</a>
                    </div>
                    <h3 class="post__title typescale-2 "><a href="./single-2.html">These Are The Days That Must
                            Happen To You</a></h3>
                </div>
            </article>
        </div>
        <div class="posts-navigation__next">
            <article class="post post--horizontal">
                <div class="post__text text-right">
                    <div class="post__readmore clearfix">
                        <a href="./single-2.html" class="button__readmore"> Next <i
                                class="mdicon mdicon-navigate_next"></i></a>
                    </div>
                    <h3 class="post__title typescale-2"><a href="./single-2.html">These Are The Days That Must
                            Happen To You</a></h3>
                </div>
            </article>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="author-box">
        <div class="author-avatar">
            <img alt="Ryan Reynold" src="http://via.placeholder.com/150x150" class="avatar photo">
        </div>
        <div class="author-box__text">
            <div class="author-box__text-top">
                <div class="author-name">
                    <a href="./author.html" class="entry-author__name">Ryan
                        Reynold</a>
                </div>
                <ul class="author-social  social-list social-list--xs list-horizontal">
                    <li><a href="#"><i class="mdicon mdicon-facebook"></i></a></li>
                    <li><a href="#"><i class="mdicon mdicon-twitter"></i></a></li>
                    <li><a href="#"><i class="mdicon mdicon-instagram"></i></a></li>
                </ul>
            </div>
            <div class="author-bio">
                Sed quia cons quuntur magni dolores eos qui ratione voluptatem sequi
                nesciunt. Neque porro quisquam est voluptas sit sequi nesciunt.
            </div>
        </div>
    </div>
</div>