<div class="atbs-sub-col sidebar js-sticky-sidebar">
    <!-- widget about -->
    <div class="atbs-widget widget widget-about-me">
        <div class="background-img background-img--more-darkened"
            style=" background-image: url('http://via.placeholder.com/1920x1080');"></div>
        <div class="widget__inner about-me__inner">
            <div class="about-img">
                <div class="background-img" style="background-image: url('http://via.placeholder.com/1920x1080');">
                </div>
                <a class="link-overlay" href="./author.html"></a>
            </div>
            <div class="about__text text-center">
                <a class="author-name" href="./author.html">Jack Emily</a>
                <div class="about-bio">
                    A 26-year-old health centre receptionist who enjoys going to the movies,
                    photography and social media.
                </div>
                <ul class="social-list social-list--sm list-horizontal">
                    <li><a href="#"><i class="mdicon mdicon-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="mdicon mdicon-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="mdicon mdicon-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- widget posts list nothumbnail -->
    <div class="atbs-widget widget widget-posts-list-nothumbnail">
        <div class="widget__inner widget-posts-list-nothumbnail__inner">
            <div class="widget__title ">
                <h4 class="widget__title-text">The Latest Posts</h4>
            </div>
            <div class="widget__wrap widget-posts-list-nothumbnail__wrap">
                <ul class="posts-list list-space-md list-seperated list-unstyled clearfix">
                    <li class="list-item">
                        <article class="post post--vertical">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <span class="list-index">1</span>
                                </div>
                                <div class="media-body media-middle">
                                    <a href="./category.html" class="post__cat">Mobile</a>
                                    <h3 class="post__title typescale-0"><a href="./single-1.html">There Is No Charm
                                            Equal to
                                            Tenderness of Heart</a></h3>
                                    <div class="post-date">
                                        <time class="time published" datetime="2019-03-06T08:45:23+00:00"
                                            title="March 6, 2019 at 8:45 am">6 April 2019</time>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="list-item">
                        <article class="post post--vertical">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <span class="list-index">2</span>
                                </div>
                                <div class="media-body media-middle">
                                    <a href="./category.html" class="post__cat">Mobile</a>
                                    <h3 class="post__title typescale-0"><a href="./single-1.html">There Is No Charm
                                            Equal to
                                            Tenderness of Heart</a></h3>
                                    <div class="post-date">
                                        <time class="time published" datetime="2019-03-06T08:45:23+00:00"
                                            title="March 6, 2019 at 8:45 am">6 April 2019</time>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="list-item">
                        <article class="post post--vertical">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <span class="list-index">3</span>
                                </div>
                                <div class="media-body media-middle">
                                    <a href="./category.html" class="post__cat">Mobile</a>
                                    <h3 class="post__title typescale-0"><a href="./single-1.html">There Is No Charm
                                            Equal to
                                            Tenderness of Heart</a></h3>
                                    <div class="post-date">
                                        <time class="time published" datetime="2019-03-06T08:45:23+00:00"
                                            title="March 6, 2019 at 8:45 am">6 April 2019</time>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- widget posts list -->
    <div class="atbs-widget widget widget-slider-posts">
        <div class="widget__inner widget-slider-posts__inner">
            <div class="widget__title">
                <h4 class="widget__title-text">The Latest</h4>
            </div>
            <div class="widget__wrap widget-slider-posts__wrap">
                <ul class="posts-list js-carousel-1i30m owl-carousel list-unstyled clearfix">
                    <li class="list-item slide-item">
                        <article class="post post--vertical">
                            <div class="post__thumb">
                                <div class="background-img"
                                    style="background-image: url('http://via.placeholder.com/400x580');">
                                </div>
                                <a class="link-overlay" href="./single-1.html"></a>
                            </div>
                            <div class="post__text">
                                <a href="./category.html" class="post__cat cat-style-2">Mobile</a>
                                <h3 class="post__title typescale-2"><a href="./single-1.html">There Is No Charm Equal to
                                        Tenderness of Heart</a></h3>
                                <div class="post__excerpt">Lorem ipsum dolor sit ameter consecte
                                    tur adipiscing elit ut sed do eiusmod</div>
                            </div>
                        </article>
                    </li>
                    <li class="list-item slide-item">
                        <article class="post post--vertical">
                            <div class="post__thumb">
                                <div class="background-img"
                                    style="background-image: url('http://via.placeholder.com/400x580');">
                                </div>
                                <a class="link-overlay" href="./single-1.html"></a>
                            </div>
                            <div class="post__text">
                                <a href="./category.html" class="post__cat">Mobile</a>
                                <h3 class="post__title typescale-2"><a href="./single-1.html">There Is No Charm Equal to
                                        Tenderness of Heart</a></h3>
                                <div class="post__excerpt">Lorem ipsum dolor sit ameter consecte
                                    tur adipiscing elit ut sed do eiusmod</div>
                            </div>
                        </article>
                    </li>
                    <li class="list-item slide-item">
                        <article class="post post--vertical">
                            <div class="post__thumb">
                                <div class="background-img"
                                    style="background-image: url('http://via.placeholder.com/400x580');">
                                </div>
                                <a class="link-overlay" href="./single-1.html"></a>
                            </div>
                            <div class="post__text">
                                <a href="./category.html" class="post__cat">Mobile</a>
                                <h3 class="post__title typescale-2"><a href="./single-1.html">There Is No Charm Equal to
                                        Tenderness of Heart</a></h3>
                                <div class="post__excerpt">Lorem ipsum dolor sit ameter consecte
                                    tur adipiscing elit ut sed do eiusmod</div>
                            </div>
                        </article>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- instagram -->
    <div class="atbs-widget widget widget-instagram">
        <div class="widget__inner widget-instagram__inner">
            <div class="widget__title">
                <h4 class="widget__title-text">instragram</h4>
            </div>
            <div class="widget__wrap widget-instagram__wrap widget__content">
                <div class="entry-author">
                    <a href="./author.html" class="author-avatar">
                        <img src="http://via.placeholder.com/100x100" alt="File Not Found">
                    </a>
                    <div class="author__text">
                        <a href="./author.html" class="author-name">Marry Janes</a>
                        <span>Bloggers | 300k followers</span>
                    </div>
                </div>
                <ul class="list-unstyled clearfix">
                    <li class="instagram-item">
                        <a href="#">
                            <img src="http://via.placeholder.com/400x400" alt="image">
                        </a>
                    </li>
                    <li class="instagram-item">
                        <a href="#">
                            <img src="http://via.placeholder.com/400x400" alt="image">
                        </a>
                    </li>
                    <li class="instagram-item">
                        <a href="#">
                            <img src="http://via.placeholder.com/400x400" alt="image">
                        </a>
                    </li>
                    <li class="instagram-item">
                        <a href="#">
                            <img src="http://via.placeholder.com/400x200" alt="image">
                        </a>
                    </li>
                    <li class="instagram-item">
                        <a href="#">
                            <img src="http://via.placeholder.com/400x200" alt="image">
                        </a>
                    </li>
                    <li class="instagram-item">
                        <a href="#">
                            <img src="http://via.placeholder.com/400x200" alt="image">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- widget posts list -->
    <div class="atbs-widget widget widget-lists-post">
        <div class="widget__inner widget-lists-post__inner">
            <div class="widget__title">
                <h4 class="widget__title-text">The Latest</h4>
            </div>
            <div class="widget__wrap widget-lists-post__wrap">
                <ul class="posts-list list-unstyled list-space-md list-seperated list-seperated--dotted clearfix">
                    <li class="list-item">
                        <article class="post post--horizontal post--horizontal-xxs height-xxs">
                            <div class="post__thumb">
                                <div class="background-img"
                                    style="background-image: url('http://via.placeholder.com/400x580');">
                                </div>
                                <a class="link-overlay" href="./single-1.html"></a>
                            </div>
                            <div class="post__text">
                                <h3 class="post__title typescale-0"><a href="./single-1.html">There Is No Charm Equal to
                                        Tenderness of Heart</a></h3>
                                <div class="post-date">
                                    <time class="time published" datetime="2019-03-06T08:45:23+00:00"
                                        title="March 6, 2019 at 8:45 am">6 April 2019</time>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="list-item">
                        <article class="post post--horizontal post--horizontal-xxs height-xxs">
                            <div class="post__thumb">
                                <div class="background-img"
                                    style="background-image: url('http://via.placeholder.com/400x580');">
                                </div>
                                <a class="link-overlay" href="./single-1.html"></a>
                            </div>
                            <div class="post__text">
                                <h3 class="post__title typescale-0"><a href="./single-1.html">There Is No Charm Equal to
                                        Tenderness of Heart</a></h3>
                                <div class="post-date">
                                    <time class="time published" datetime="2019-03-06T08:45:23+00:00"
                                        title="March 6, 2019 at 8:45 am">6 April 2019</time>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="list-item">
                        <article class="post post--horizontal post--horizontal-xxs height-xxs">
                            <div class="post__thumb">
                                <div class="background-img"
                                    style="background-image: url('http://via.placeholder.com/400x580');">
                                </div>
                                <a class="link-overlay" href="./single-1.html"></a>
                            </div>
                            <div class="post__text">
                                <h3 class="post__title typescale-0"><a href="./single-1.html">There Is No Charm Equal to
                                        Tenderness of Heart</a></h3>
                                <div class="post-date">
                                    <time class="time published" datetime="2019-03-06T08:45:23+00:00"
                                        title="March 6, 2019 at 8:45 am">6 April 2019</time>
                                </div>
                            </div>
                        </article>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- widget-categories  -->
    <div class="atbs-widget widget  widget-categories">
        <div class="widget__inner category_inner">
            <div class="widget__title">
                <h4 class="widget__title-text">Trending Articles</h4>
            </div>
            <div class="widget__wrap category_wrap">
                <ul class="list-unstyled category-list row row--space-between grid-gutter-10">
                    <li class="col-md-6 col-sm-4 col-xs-6">
                        <div class="category-tile category-tile--sm">
                            <div class="category-tile__wrap">
                                <div class="background-img background-img--more-darkened"
                                    style="background-image: url('http://via.placeholder.com/400x580');">
                                </div>
                                <div class="category-tile__inner">
                                    <div class="category-tile__text">
                                        <div class="category-tile__name">motor</div>
                                        <div class="category-tile__description">6 Articles</div>
                                    </div>
                                </div>
                                <a href="./category.html" class="link-overlay" title="View all World"></a>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-6 col-sm-4 col-xs-6">
                        <div class="category-tile category-tile--sm">
                            <div class="category-tile__wrap">
                                <div class="background-img background-img--more-darkened"
                                    style="background-image: url('http://via.placeholder.com/400x580');">
                                </div>
                                <div class="category-tile__inner">
                                    <div class="category-tile__text">
                                        <div class="category-tile__name">motor</div>
                                        <div class="category-tile__description">6 Articles</div>
                                    </div>
                                </div>
                                <a href="./category.html" class="link-overlay" title="View all World"></a>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-6 col-sm-4 col-xs-6">
                        <div class="category-tile category-tile--sm">
                            <div class="category-tile__wrap">
                                <div class="background-img background-img--more-darkened"
                                    style="background-image: url('http://via.placeholder.com/400x580');">
                                </div>
                                <div class="category-tile__inner">
                                    <div class="category-tile__text">
                                        <div class="category-tile__name">motor</div>
                                        <div class="category-tile__description">6 Articles</div>
                                    </div>
                                </div>
                                <a href="./category.html" class="link-overlay" title="View all World"></a>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-6 col-sm-4 col-xs-6">
                        <div class="category-tile category-tile--sm">
                            <div class="category-tile__wrap">
                                <div class="background-img background-img--more-darkened"
                                    style="background-image: url('http://via.placeholder.com/400x580');">
                                </div>
                                <div class="category-tile__inner">
                                    <div class="category-tile__text">
                                        <div class="category-tile__name">motor</div>
                                        <div class="category-tile__description">6 Articles</div>
                                    </div>
                                </div>
                                <a href="./category.html" class="link-overlay" title="View all World"></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>