<article class="post--single post--vertical" style="transform: none;">
    <div class=" single-entry-thumb post__thumb">
        <div class="background-img" style="background: url('http://via.placeholder.com/1920x1080');"></div>
    </div>
    <header class="single-head post__head text-left">
        <div class="post-meta">
            <time class="time published" datetime="2020-07-23T11:59+00:00" title="July 23, 2020 at 11:59 pm">23 july
                2020</time>
        </div>
        <h1 class="post__title">
            Introducing new Black Lives Matter content
        </h1>
    </header>
    <div class="single-content">
        <div class="single-body entry-content">
            <p>The Anti-Racism Coalition, or ARC, is a new staff group based at
                the School of Medicine. ARC plans to share content each week
                that contributes to a deeper understanding of the complexity of
                being Black in the United States today. We will share from sources
                such as books, noteworthy articles, events from a range of domains,
                and highlights of educational, intellectual, and scientific
                scholarship,
                discoveries, and news.</p>
        </div>
        <footer class="single-footer entry-footer">
            <div class="entry-interaction">
                <div class="entry-interaction__center text-center">
                    <ul class="social-list social-list__text list-horizontal social-list--sm list-space-xs">
                        <li><a href="#">facebook</a></li>
                        <li><a href="#">twitter</a></li>
                        <li><a href="#">instagram</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <!-- .single-content -->
</article>