<footer class="site-footer site-footer--white site-footer  site-footer__section--flex">
    <div class="footer-instagram">
        <div class="container">
            <!-- <ul class="list-unstyled instagram__inner row row row--space-between grid-no-gutter clearfix">
                <li class="instagram-item col-md-3 col-sm-4 col-xs-3">
                    <a href="#single-url">
                        <img src="http://via.placeholder.com/290x290" alt="image" />
                    </a>
                </li>
                <li class="instagram-item col-md-3 col-sm-4 col-xs-3">
                    <a href="#single-url">
                        <img src="http://via.placeholder.com/290x290" alt="image" />
                    </a>
                </li>
                <li class="instagram-item col-md-3 col-sm-4 col-xs-3">
                    <a href="#single-url">
                        <img src="http://via.placeholder.com/290x290" alt="image" />
                    </a>
                </li>
                <li class="instagram-item col-md-3 col-sm-4 col-xs-3">
                    <a href="#single-url">
                        <img src="http://via.placeholder.com/290x290" alt="image" />
                    </a>
                </li>
                <li class="instagram-item col-md-3 col-sm-4 col-xs-3">
                    <a href="#single-url">
                        <img src="http://via.placeholder.com/290x290" alt="image" />
                    </a>
                </li>
                <li class="instagram-item col-md-3 col-sm-4 col-xs-3">
                    <a href="#single-url">
                        <img src="http://via.placeholder.com/290x290" alt="image" />
                    </a>
                </li>
                <li class="instagram-item col-md-3 col-sm-4 col-xs-3">
                    <a href="#single-url">
                        <img src="http://via.placeholder.com/290x290" alt="image" />
                    </a>
                </li>
                <li class="instagram-item col-md-3 col-sm-4 col-xs-3">
                    <a href="#single-url">
                        <img src="http://via.placeholder.com/290x290" alt="image" />
                    </a>
                </li>
            </ul> -->
        </div>
    </div>
    <div class="site-footer__section site-footer__section--seperated">
        <div class="container">
            <div class="site-footer__section-inner">
                <!--                 <div class="site-logo text-center max-width-xs">
                    <a href="#">
                        <img src="img/logo-footer_23.png" alt="logo">
                    </a>
                </div> -->
            </div>
        </div>
    </div>
    <div class="site-footer__section">
        <div class="container">
            <div class="site-footer__section-inner">
                <div class="site-footer__section-left">
                    <nav class="footer-menu footer-menu--bold text-left">
                        <ul id="menu-footer-menu" class="navigation navigation--footer navigation--inline">
                            <li><a href="home.html">Home</a></li>
                            <li><a href="./about.html">About</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="site-footer__section-right">
                    <ul class="social-list social-list__text list-horizontal footer-social-list">
                        <li><a href="#" target="_blank">facebook</a></li>
                        <li><a href="#" target="_blank">twitter</a></li>
                        <li><a href="#" target="_blank">instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>