<header class="site-header">
    <section class="su-masthead su-masthead--right">
        <a href="#main-content" class="su-skiplinks ">Skip to main content</a>
        <div class="su-brand-bar su-brand-bar--bright">
            <div class="su-brand-bar__container">
                <a class="su-brand-bar__logo" href="https://stanford.edu">
                    Stanford University
                    <span class="su-brand-bar__link--a11y">(link is external)</span>
                </a>
            </div>
        </div>
        <section>
            <div class="su-lockup su-lockup--option-d">
                <a href="/">
                    <div class="su-lockup__cell1">
                        <div class="su-lockup__wordmark-wrapper">
                            <span class="su-lockup__wordmark"></span>
                        </div>
                    </div>
                    <div class="su-lockup__cell2">
                        <span class="su-lockup__line1">Black Lives Matter Weekly Archive</span>
                        <span class="su-lockup__line3">School of Medicine Anti-Racist Coalition</span>
                    </div>
                </a>
            </div>
            <nav class="su-main-nav no-js su-main-nav--mobile-search" aria-label="main menu">
                <button class="su-main-nav__toggle su-main-nav__toggle--right" aria-expanded="false">Menu</button>
                <ul class="su-main-nav__menu-lv1">
                    <li class=" ">
                        <a href="/">Home</a>
                    </li>
                    <li class=" ">
                        <a href="/posts-list.html">All Posts</a>
                    </li>
                    <li class=" ">
                        <a href="/about.html">About</a>
                    </li>
                    <li class=" ">
                        <a href="/search.html">Search</a>
                    </li>
                </ul>
            </nav>
        </section>
    </section>
</header>
