<header class="site-header">
    <div class="header-main hidden-xs hidden-sm">
        <div class="container">
            <nav class="navigation-bar navigation-bar--fullwidth hidden-xs hidden-sm js-sticky-header-holder">
                <ul id="menu-main-menu" class="navigation navigation--main navigation--inline flexbox">
                    <li class="menu-item-has-children current-menu-item">
                        <a href="home.html">Home</a>
                    </li>
                    <!--                     <li class="menu-item-has-children">
                        <a href="#">Posts</a>
                        {% for post in site.posts %}
                        <ul class="sub-menu">
                            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                        </ul>
                        {% endfor %}
                    </li> -->
                    <li class="menu-item-has-children">
                        <a href="about.html">About</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="atbs-mobile-header" class="mobile-header  visible-xs visible-sm header_home">
        <div class="container">
            <div class="mobile-header__inner mobile-header__inner--flex">
                <div class="header-branding header-branding--mobile mobile-header__section text-left">
                    <!--                     <div class="header-logo header-logo--mobile flexbox__item text-left">
                        <a href="home.html">
                            <img src="" alt="logo" />
                        </a>
                    </div> -->
                </div>
                <div class="mobile-header__section text-right flexbox  flexbox--middle ">
                    <div class="search-form">
                        <button type="submit" class="navigation-bar-btn js-search-dropdown-toggle"><i
                                class="mdicon mdicon-search"></i></button>
                    </div>
                    <a href="#atbs-offcanvas-primary"
                        class="offcanvas-menu-toggle mobile-header-btn js-atbs-offcanvas-toggle">
                        <i class="mdicon mdicon-menu mdicon--last hidden-xs"></i><i
                            class="mdicon mdicon-menu visible-xs-inline-block"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>