<head>
    <!-- Basic -->
    <meta charset="UTF-8" />
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="keywords" content="HTML5 News Magazine Template" />
    <meta name="description" content="Pause - Ultimate News and Magazine Template" />
    <meta name="author" content="https://designuptodate.com/" />
    <!--     Favicon 
    <link rel="icon" href="img/favicon.png" sizes="32x32" />
    <link rel="icon" href="img/favicon.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="img/favicon.png" />
    <meta name="msapplication-TileImage" content="img/favicon.png" /> -->
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/vendors.css" />
    <!-- Theme CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/animate.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/swiper.min.css" />
    <!-- jasmine CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/pause.css" />
    <!--  shrug all css files  -->
    <!-- single CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/single.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/single-2.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/single-3.css" />
    <!-- gallery CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/gallery.css" />

    <!-- 404 CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/404.css" />
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css" />

    <link
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
        rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&display=swap" rel="stylesheet"
        type="text/css">
    <!-- Theme custom  -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/color.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/font.css" />
</head>