<div class="atbs-block atbs-block--fullwidth atbs-post--grid-featured">
    <div class="container">
        <div class="post--grid-featured__inner clearfix">
            <div class="post--horizontal-featured">
                {% for post in site.posts reversed limit: 1 %}
                <article class="post post--horizontal post--horizontal-bottom">
                    <div class="post__thumb">
                        <div class="post__thumb-wrap">
                            <div class="background-img"
                                style="background-image: url('/stanford-blm/{{ post.image }}');">
                            </div>
                            <a class="link-overlay" href="./{{ post.url }}"></a>
                        </div>
                    </div>
                    <div class="post__text background-circle">
                        <a class="post__cat cat-theme" href="./category.html">2021</a>
                        <h3 class="post__title typescale-4"><a href="./{{ post.url }}">{{ post.title }}</a></h3>
                        <div class="post__excerpt">
                            {{ post.excerpt }}
                        </div>
                        <div class="post__mainreadmore text-left clearfix">
                            <a href="./{{ post.url }}" class="button__readmore flexbox flexbox--middle">
                                read more<span class="icon-post"><i class="mdicon mdicon-arrow-right"></i></span>
                            </a>
                        </div>
                    </div>
                </article>
                {% endfor %}
            </div>
            <div class="post--vertical-featured">
                {% for post in site.posts reversed limit: 1 offset: 1 %}
                <article class="post post--vertical post--vertical-reverse">
                    <div class="post__thumb">
                        <div class="background-img" style="background-image: url('/stanford-blm/{{ post.image }}');">
                        </div>
                        <a class="link-overlay" href="./{{ post.url }}"></a>
                    </div>
                    <div class="post__text">
                        <a class="post__cat cat-theme" href="./category.html">2021</a>
                        <div class="post__text-wrap flexbox flexbox--middle">
                            <h3 class="post__title typescale-1 flexbox__item">
                                <a href="./{{ post.url }}">{{ post.title }}</a>
                            </h3>
                            <div class="post__readmore text-left clearfix">
                                <a href="./{{ post.url }}" class="button__readmore flexbox flexbox--middle">
                                    read more<span class="icon-post"><i class="mdicon mdicon-arrow-right"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
                {% endfor %}
            </div>
        </div>
    </div>
</div>