<!-- Section 1 -->
<div class="atbs-block atbs-block--fullwidth atbs-post--grid-featured">
    <div class="container">
        <div class="post--grid-featured__inner clearfix">
            <div class="post--horizontal-featured">
                <article class="post post--horizontal post--horizontal-bottom">
                    <div class="post__thumb">
                        <div class="post__thumb-wrap">
                            <div class="background-img"
                                style="background-image: url('http://via.placeholder.com/1920x1080');">
                            </div>
                            <a class="link-overlay" href="./single-1.html"></a>
                        </div>
                    </div>
                    <div class="post__text background-circle">
                        <a class="post__cat cat-theme" href="./category.html">nakebike</a>
                        <h3 class="post__title typescale-4"><a href="./single-1.html">If You Can Still Hear
                                Your Fears Shift a Gear </a></h3>
                        <div class="post__excerpt">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut
                            labore et.
                        </div>
                        <div class="post__readmore text-left clearfix">
                            <a href="./single-1.html" class="button__readmore flexbox flexbox--middle">
                                read more<span class="icon-post"><i class="mdicon mdicon-arrow-right"></i></span>
                            </a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="post--vertical-featured">
                <article class="post post--vertical post--vertical-reverse">
                    <div class="post__thumb">
                        <div class="background-img"
                            style="background-image: url('http://via.placeholder.com/1920x1080');"></div>
                        <a class="link-overlay" href="./single-1.html"></a>
                    </div>
                    <div class="post__text">
                        <a class="post__cat cat-theme" href="./category.html">motor</a>
                        <div class="post__text-wrap flexbox flexbox--middle">
                            <h3 class="post__title typescale-1 flexbox__item">
                                <a href="./single-1.html">There Isn't a Lot Written About the Motorcycle
                                    Culture</a>
                            </h3>
                            <div class="post__readmore text-left clearfix">
                                <a href="./single-1.html" class="button__readmore flexbox flexbox--middle">
                                    read more<span class="icon-post"><i class="mdicon mdicon-arrow-right"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>