<footer>
    <div class="su-local-footer">
        <div class="su-local-footer__header">
            <div class="su-lockup su-lockup--option-a">
                <div class="su-lockup__cell1">
                    <div class="su-lockup__wordmark-wrapper">
                        <span class="su-lockup__wordmark"></span>
                    </div>
                </div>
                <div class="su-lockup__cell2">
                    <span class="su-lockup__line1">Black Lives Matter Weekly Archive</span>
                </div>
            </div>
        </div>
        <div class="su-local-footer__columns">
            <div class="su-local-footer__cell1">
                <h2 class="su-sr-only-element">Address</h2>
                <address class="su-local-footer__address">
                    <strong>Stanford University School of Medicine</strong>
                    <br />
                    291 Campus Drive
                    <br />
                    Li Ka Shing Building
                    <br />
                    Stanford, CA 94305-5101
                    <br />
                </address>
                <ul class="su-local-footer__action-links">
                    <li>
                        <a href="https://med.stanford.edu/school/contacts/maps.html">Visit</a>
                    </li>
                    <li>
                        <a href="https://campus-map.stanford.edu/">Campus Map</a>
                    </li>
                    <li>
                        <a href="som_diversity@stanford.edu">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
