<div class="navigation-author__wrap">
    <div class="posts-navigation single-entry-section clearfix">
        <div class="posts-navigation__prev">
            <article class="post post--horizontal">
                <div class="post__text text-left">
                    <div class="post__readmore clearfix">
                        <a href="./single-2.html" class="button__readmore"><i class="mdicon mdicon-navigate_before"></i>
                            Previous</a>
                    </div>
                    <h3 class="post__title typescale-2 "><a href="./single-2.html">These Are The Days That Must
                            Happen To You</a></h3>
                </div>
            </article>
        </div>
        <div class="posts-navigation__next">
            <article class="post post--horizontal">
                <div class="post__text text-right">
                    <div class="post__readmore clearfix">
                        <a href="./single-2.html" class="button__readmore"> Next <i
                                class="mdicon mdicon-navigate_next"></i></a>
                    </div>
                    <h3 class="post__title typescale-2"><a href="./single-2.html">These Are The Days That Must
                            Happen To You</a></h3>
                </div>
            </article>
        </div>
        <div class="clearfix"></div>
    </div>
</div>