<div class="atbs-block atbs-block--fullwidth">
    <div class="container">
        <div class=" block-heading heading-style-2 text-center clearfix">
            <h4 class="block-heading__title">
                Latest Article
            </h4>
        </div>
        <div class="row">
            <div class="atbs-main-col">
                <div class="atbs-block atbs-posts-list post-separate-md">
                    <div class="list-item row row--space-between grid-gutter-30 posts-list">
                        <div class="col-sm-6 list-item">
                            <article class="post post--vertical small-post--vertical height-md">
                                <div class="post__thumb">
                                    <div class="background-img" style="background-image: url('img/doctor.jpg');">
                                    </div>
                                    <a class="link-overlay" href="./augustus-white.html"></a>
                                    <a class="post__cat cat-theme cat-theme-2 text-top-left"
                                        href="./augustus-white.html">BLM</a>
                                </div>
                                <div class="post__text">
                                    <h3 class="post__title typescale-3">
                                        <a href="./augustus-white.html">Black Lives Matter: Augustus White, first
                                            African American Stanford medical school graduate</a>
                                    </h3>
                                    <div class="post__excerpt">
                                        Today we recognize <a
                                            href="https://r20.rs6.net/tn.jsp?f=001bBgS9HZQlOQ9VC0LbaMT9zCvrYAyJDDg4X0RWRH16zsJXZb5uSlv4_QAfWii6eHa_7nUAoQkiKP5LYLJImpy-UHtZitK9Vji1U5PEQbGJt1920T9vcGzZduvXLsfNufQ3u4-Ar2UVUdlPZ4g6LHOjAccwSdu748r-7vGFove6Jxwxm_bUneCTQ==&c=iu4KCTtE_IHkXWCmsAYOB-4hZ0tzr77yX9QZZg64V227WZ-QjLwARA==&ch=40zuBg2GsFApB9J3uvkrGYbyKbYiXnNpweHcKvCWlmmksZ3KQ7lvdg=="
                                            Augustus A. White III, MD, PhD,></a>who has been and continues to be a
                                        leading voice for diversity, equity, and inclusion
                                    </div>
                                    <div class="post__readmore text-right clearfix">
                                        <a href="./augustus-white.html"
                                            class="button__readmore flexbox flexbox--middle">
                                            read more <span class="icon-post"><i
                                                    class="mdicon mdicon-arrow-right"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 list-item">
                            <article class="post post--vertical small-post--vertical height-md">
                                <div class="post__thumb">
                                    <div class="background-img"
                                        style="background-image: url('img/black-people-celebrating.jpg');">
                                    </div>
                                    <a class="link-overlay" href="./fourth-of-july.html"></a>
                                    <a class="post__cat cat-theme cat-theme-2 text-top-left"
                                        href="./fourth-of-july.html">BLM</a>
                                </div>
                                <div class="post__text">
                                    <h3 class="post__title typescale-3">
                                        <a href="./fourth-of-july.html">Black Lives Matter: The Fourth of July</a>
                                    </h3>
                                    <div class="post__excerpt">
                                        “The sunlight that brought life and healing to you, has brought stripes and
                                        death to me. This Fourth [of]
                                        July is yours, not mine. You may rejoice, I must mourn,” said Frederick Douglass
                                        to a gathering of white abolitionists
                                    </div>
                                    <div class="post__readmore text-right clearfix">
                                        <a href="./fourth-of-july.html"
                                            class="button__readmore flexbox flexbox--middle">
                                            read more <span class="icon-post"><i
                                                    class="mdicon mdicon-arrow-right"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 list-item">
                            <article class="post post--vertical small-post--vertical height-md">
                                <div class="post__thumb">
                                    <div class="background-img" style="background-image: url('img/father.jpg');">
                                    </div>
                                    <a class="link-overlay" href="./fathers-day.html"></a>
                                    <a class="post__cat cat-theme cat-theme-2 text-top-left"
                                        href="./fathers-day.html">BLM</a>
                                </div>
                                <div class="post__text">
                                    <h3 class="post__title typescale-3">
                                        <a href="./fathers-day.html">Black Lives Matter: Happy Father’s Day</a>
                                    </h3>
                                    <div class="post__excerpt">
                                        In observation of Father’s Day on June 20, we celebrate fatherhood in its power
                                        to defy stereotypes and persevere against false narratives and deceptive
                                        data regarding Black fatherhood.
                                    </div>
                                    <div class="post__readmore text-right clearfix">
                                        <a href="./fathers-day.html" class="button__readmore flexbox flexbox--middle">
                                            read more <span class="icon-post"><i
                                                    class="mdicon mdicon-arrow-right"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 list-item">
                            <article class="post post--vertical small-post--vertical height-md">
                                <div class="post__thumb">
                                    <div class="background-img"
                                        style="background-image: url('img/black-people-celebrating.jpg');">
                                    </div>
                                    <a class="link-overlay" href="./juneteenth.html"></a>
                                    <a class="post__cat cat-theme cat-theme-2 text-top-left"
                                        href="./juneteenth.html">BLM</a>
                                </div>
                                <div class="post__text">
                                    <h3 class="post__title typescale-3">
                                        <a href="./juneteenth.html">Black Lives Matter: Juneteenth</a>
                                    </h3>
                                    <div class="post__excerpt">
                                        Juneteenth commemorates the date of June 19, 1865, when federal
                                        troops arrived in Galveston Bay, Texas, to enforce the
                                        emancipation of enslaved people in the state by executive decree.
                                    </div>
                                    <div class="post__readmore text-right clearfix">
                                        <a href="./juneteenth.html" class="button__readmore flexbox flexbox--middle">
                                            read more <span class="icon-post"><i
                                                    class="mdicon mdicon-arrow-right"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>