---
baseurl:
---
<!DOCTYPE html>
<html lang="en-US">

{% include head.html %}

<body class="home single single-1">
    <!-- Site wrapper -->
    <div class="site-wrapper">
        {% include header.html %}
        <div class="site-content">
            {{content}}
        </div>
        {% include local-footer.html %}
        {% include global-footer.html %}
        <a href="#" class="atbs-go-top btn btn-default hidden-xs js-go-top-el"><i
                class="mdicon mdicon-arrow_upward"></i></a>
    </div>
    {% include theme-scripts.html %}
</body>

</html>
