---
layout: single
---
<article class="post--single post--vertical" style="transform: none;">
    <div class=" single-entry-thumb post__thumb">
        <div class="background-img" style="background: url('img/student-reading.jpeg');"></div>
    </div>
    <header class="single-head post__head text-left">
        <div class="post-meta">
            <time class="time published">{{ post.date }}</time>
        </div>
        <h1 class="post__title">
            {{ post.title }}
        </h1>
    </header>
    <div class="single-content">
        <div class="single-body entry-content">
            <p>{{ post.content }}</p>
        </div>
        <footer class="single-footer entry-footer">
            <div class="entry-interaction">
                <div class="entry-interaction__center text-center">
                    <ul class="social-list social-list__text list-horizontal social-list--sm list-space-xs">
                        <li><a href="#">facebook</a></li>
                        <li><a href="#">twitter</a></li>
                        <li><a href="#">instagram</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <!-- .single-content -->
</article>